@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
* {
  font-family: "Inter", sans-serif;
}

.rateGaincalc .popover {
  background-color: #000000;
  max-width: 500px;
}

.rateGaincalc .popover .popover-body {
  color: #FFFFFF;
}

.rateGaincalc .popover .popover-arrow::after {
  border-left-color: #000000;
}

.rate-gain.__page-wrapper {
  display: block;
  height: 100%;
}

@media (max-width: 991px) {
  .rate-gain.__page-wrapper {
    padding: 0;
    max-width: 100%;
  }
}

.rate-gain.__page-wrapper h1 {
  font-weight: 700;
  font-size: 28px;
  color: #FFFFFF;
  line-height: 34px;
}

.rate-gain.__page-wrapper h1 span {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.rate-gain.__page-wrapper p {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 24px;
}

.rate-gain.__page-wrapper p span {
  font-size: 14px;
  color: #a6a6a6;
}

.rate-gain.__page-wrapper .__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
}

.rate-gain.__page-wrapper .__action {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #F19A00;
  padding: 12px 17px;
  gap: 25px;
  border: 0;
  margin-left: auto;
  -webkit-box-shadow: #F19A00 6px 6px 0;
          box-shadow: #F19A00 6px 6px 0;
  font-weight: 600;
  font-size: 14px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.rate-gain.__page-wrapper .__action::after {
  content: '';
  background: url("../../assets/images/svg/icons/lineArrow.svg") center/contain no-repeat;
  width: 15px;
  aspect-ratio: 1;
  display: block;
}

.rate-gain.__page-wrapper .__action:focus {
  outline: none;
}

.rate-gain.__page-wrapper .__previous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.rate-gain.__page-wrapper .__previous::before {
  content: '';
  background: url("../../assets/images/svg/icons/lineArrow.svg") center/contain no-repeat;
  -webkit-filter: grayscale(1) brightness(0.5);
          filter: grayscale(1) brightness(0.5);
  width: 12px;
  aspect-ratio: 1;
  display: block;
  -webkit-transform: translateX(0) scale(-1);
          transform: translateX(0) scale(-1);
  -webkit-transition: all ease .15s;
  transition: all ease .15s;
}

.rate-gain.__page-wrapper .__previous:focus {
  outline: none;
}

.rate-gain.__page-wrapper .__previous:hover {
  text-decoration: underline;
}

.rate-gain.__page-wrapper .__previous:hover::before {
  -webkit-transform: translateX(-5px) scale(-1);
          transform: translateX(-5px) scale(-1);
}

.rate-gain.__page-wrapper input[type="checkbox"]:checked + label:after, .rate-gain.__page-wrapper input[type="checkbox"]:checked + label:before {
  border-radius: 4px !important;
}

.rate-gain.__page-wrapper input[type="checkbox"]:not(:checked) + label:after, .rate-gain.__page-wrapper input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 4px !important;
}

.rate-gain.__page-wrapper input[type="radio"]:checked, .rate-gain.__page-wrapper input[type="checkbox"]:checked {
  position: absolute;
  visibility: hidden;
}

.rate-gain.__page-wrapper input[type="radio"]:checked + label, .rate-gain.__page-wrapper input[type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
  line-height: 28px;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666;
}

.rate-gain.__page-wrapper input[type="radio"]:checked + label:before, .rate-gain.__page-wrapper input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  border-radius: 100%;
  background: #FFFFFF;
}

.rate-gain.__page-wrapper input[type="radio"]:checked + label:after, .rate-gain.__page-wrapper input[type="checkbox"]:checked + label:after {
  content: '';
  width: 30px;
  height: 30px;
  background: #F19A00;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.rate-gain.__page-wrapper input[type="radio"]:not(:checked), .rate-gain.__page-wrapper input[type="checkbox"]:not(:checked) {
  position: absolute;
  visibility: hidden;
}

.rate-gain.__page-wrapper input[type="radio"]:not(:checked) + label, .rate-gain.__page-wrapper input[type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666;
}

.rate-gain.__page-wrapper input[type="radio"]:not(:checked) + label:before, .rate-gain.__page-wrapper input[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  border-radius: 100%;
  background: #FFFFFF;
}

.rate-gain.__page-wrapper input[type="radio"]:not(:checked) + label:after, .rate-gain.__page-wrapper input[type="checkbox"]:not(:checked) + label:after {
  content: '';
  width: 30px;
  height: 30px;
  background: #F19A00;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.rate-gain.__page-wrapper input[type="text"]:not(.form-input):focus, .rate-gain.__page-wrapper input[type="email"]:not(.form-input):focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-color: #F19A00;
}

.rate-gain.__page-wrapper input[type="text"]:is(.form-input), .rate-gain.__page-wrapper input[type="email"]:is(.form-input) {
  border-width: 0 0 1px;
  border-color: #7C7C7C;
  padding: 14px 25px;
}

.rate-gain.__page-wrapper input[type="text"]:is(.form-input):focus, .rate-gain.__page-wrapper input[type="email"]:is(.form-input):focus {
  outline: none;
}

@media (min-width: 991px) {
  .rate-gain.__page-wrapper .col-1336-5 {
    width: 40% !important;
  }
  .rate-gain.__page-wrapper .col-1336-7 {
    width: 60% !important;
  }
}

@media (max-width: 991px) {
  .rate-gain.__page-wrapper .container,
  .rate-gain.__page-wrapper .container-md,
  .rate-gain.__page-wrapper .container-sm {
    max-width: 90vw;
    padding: 0;
  }
}

.rate-gain.__page-wrapper .__header {
  margin-block: 40px;
}

.rate-gain.__page-wrapper .__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .rate-gain.__page-wrapper .__hero {
    height: 100%;
    margin-block: 50px;
  }
}

.rate-gain.__page-wrapper .__hero #q-hero img {
  width: 100%;
}

@media (max-width: 991px) {
  .rate-gain.__page-wrapper .__hero #q-cards .swiper {
    width: 90vw;
  }
  .rate-gain.__page-wrapper .__hero #q-cards .swiper .__slideContent {
    padding: 20px;
  }
}

.rate-gain.__page-wrapper .__hero::before {
  content: '';
  position: fixed;
  background: linear-gradient(110deg, #00AEB1 55%, #FFFFFF 150%);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.rate-gain.__page-wrapper .__hero .svgBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}

.rate-gain.__page-wrapper .__hero .row {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1367px) {
  .rate-gain.__page-wrapper .__hero .row {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .rate-gain.__page-wrapper .__hero .row {
    height: 100%;
    padding: 0;
    gap: 50px;
  }
  .rate-gain.__page-wrapper .__hero .row > form {
    margin-bottom: 50px;
  }
}

.rate-gain.__page-wrapper .__hero .row .__content {
  padding-right: 30%;
}

@media (max-width: 991px) {
  .rate-gain.__page-wrapper .__hero .row .__content {
    width: 90vw;
    margin: 0 auto;
  }
}

@media (max-width: 1367px) {
  .rate-gain.__page-wrapper .__hero .row .__content {
    padding: 0;
  }
}

.rate-gain.__page-wrapper .__hero .row.slides .swiper.__rate-slider {
  width: 650px;
  height: 560px;
}

@media (max-width: 1367px) {
  .rate-gain.__page-wrapper .__hero .row.slides .swiper.__rate-slider {
    width: 650px;
    height: 600px;
  }
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 40px 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.25);
  position: relative;
}

@media (max-width: 1367px) {
  .rate-gain.__page-wrapper .__hero .row.slides .__slideContent {
    padding: 20px 15px 20px 20px;
  }
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent > h1,
.rate-gain.__page-wrapper .__hero .row.slides .__slideContent > p {
  margin: 0;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent p span {
  font-size: 16px;
  color: #474747;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions {
  display: block;
  position: relative;
  width: 100%;
  padding-right: 10px;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions .__slideHead .popover-toggle {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions li {
  font-weight: bold;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions li:not(:first-child) {
  margin-top: 50px;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions li p {
  font-size: 16px;
  font-weight: inherit;
  color: #000000;
  line-height: normal;
  margin-bottom: 24px;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions .range-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: #a6a6a6;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions .range-wrap .range {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 4px;
  border: 0;
  border-radius: 100px;
  background: #CCCCCC;
  outline: none;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions .range-wrap .range::before, .rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions .range-wrap .range::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 10px;
  background-color: #CCCCCC;
  border-radius: 10px;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions .range-wrap .range::after {
  right: 0;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions .range-wrap .range .ui-slider-handle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  z-index: 1;
  height: auto;
  border-radius: 6px;
  padding: 4px 8px;
  color: #fff;
  background: #F19A00;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions .range-wrap .range .ui-slider-handle:before, .rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions .range-wrap .range .ui-slider-handle::after {
  content: '';
  display: block;
  background: url("../../assets/images/svg/icons/chevron-left.svg") center/contain no-repeat;
  width: 10px;
  height: 21px;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions .range-wrap .range .ui-slider-handle::after {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions .range-wrap .range .ui-slider-handle:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions .range-wrap .range .ui-slider-handle:focus, .rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions .range-wrap .range .ui-slider-handle.ui-state-focus {
  outline: none;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions .range-wrap .range .ui-slider-handle:hover {
  background-color: #ffa70c;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions .range-wrap .range .ui-slider-range {
  background: #69b6b5;
  width: 100%;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions .range-wrap > span {
  width: 20px;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions.radio-qs {
  min-height: 220px;
  max-height: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow-y: auto;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions.radio-qs .radio-qset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}

@media (max-width: 991px) {
  .rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions.radio-qs .radio-qset label {
    min-width: 100%;
  }
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions.radio-qs .radio-qset label > p {
  font-size: 16px;
  margin: 0;
  line-height: 30px;
  font-weight: 400;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions.radio-qs .radio-qset label [type="text"] {
  margin-left: 15px;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions.radio-qs::-webkit-scrollbar {
  width: 3px;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__questions.radio-qs::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .detailsForm .field {
  position: relative;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .detailsForm .field label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  font-size: 16px;
  color: #a6a6a6;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .detailsForm .field.focused label {
  top: -10px;
  font-size: 12px;
  color: #474747;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .detailsForm .field:not(:first-child) {
  margin-top: 25px;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__action {
  background-color: #F19A00;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  color: #FFFFFF;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__action:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  -webkit-transform: unset;
          transform: unset;
  background-color: #ffa70c;
}

.rate-gain.__page-wrapper .__hero .row.slides .__slideContent .__action::after {
  -webkit-filter: grayscale(1) brightness(5);
          filter: grayscale(1) brightness(5);
  mix-blend-mode: screen;
}
/*# sourceMappingURL=main.css.map */